<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCruVluMJb3mnzL0hLu8dRiBOMEW7rQ-jk</string>
	<key>GCM_SENDER_ID</key>
	<string>146038699830</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chrisDevApp</string>
	<key>PROJECT_ID</key>
	<string>iu-software-project</string>
	<key>STORAGE_BUCKET</key>
	<string>iu-software-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:146038699830:ios:b44db8a31a9ad49fd9e597</string>
</dict>
</plist>